*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

html{
    height: 100%;
}

.btn{
    width: 80%;
    max-width: 300px;
    height: 100px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    background: #69a4d3;
    
}

.btn:hover{
    background: #2485d4;
    box-shadow: 0 0 50px #000;
}

.bg{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0 ,0.6);
    
}

.form{
    background: #fff;
    max-width: 400px;
    padding:90px 2%;
    height: 60%;
    max-height: 700px;
    width: 94%;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}



.form:hover{
    box-shadow: 0 0 30px #000;
}

.form input[type="text"]{
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding-left: 8px;
    border: 1px solid #000;
    margin-bottom: 20px;
    text-align:justify;
    outline: none;
}


.form input[type="submit"]{
    width: 100%;
    height: 48px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    background: #69a4d3;
    border: none;
}

.form input[type="submit"]:hover{
    background: #2485d4;
}

h1{
    text-align: center;
    padding-bottom: 25px;
}

.close{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: rgb(220,220,220);
    color: #000;
    font-size: 19px;
    position: absolute;
    right: -16px;
    top: -16px;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    box-shadow: 0 0 30px #cac6c6;
}

